on:
  workflow_dispatch:
  schedule:
    - cron: '0 * * * *'
name: Bump Connector Catalog
jobs:
  bump-catalog:
    name: 'Bump connector catalog'
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.19
        uses: actions/setup-go@v3
        with:
          go-version: "1.19"
      - name: Configure git for private modules
        env:
          TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
          TOKEN_USER: ${{ secrets.PERSONAL_ACCESS_TOKEN_USER }}
        run: |
          git config --global url."https://${TOKEN_USER}:${TOKEN}@github.com".insteadOf "https://github.com"
      - name: Check out code into the Go module directory
        uses: actions/checkout@v3
        with:
          ref: main
      - name: Cache go module
        uses: actions/cache@v3
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Run fetch-catalogs.sh
        run: ./fetch-catalogs.sh
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v3
        with:
          commit-message: 'chore: bumped connector catalogs'
          title: '[chore] Bump connector catalogs'
          branch: chore/bump-catalogs
          delete-branch: true
          body: >
            Auto generated PR to bump connector catalogs.
          labels: chore, automated pr
